- cohort = @cohort

= "#{cohort.course.title} | #{cohort.location.city}, #{cohort.location.state} | #{cohort.start_date}"

= current_user.id
= current_user.role
= current_user.email
= current_user.student?

%ul
  - cohort.assignments.each do |assignment|
    %li
      = link_to assignment.summary, assignment_path(assignment.id)
      |
      / = user_has_submitted?(assignment)
      - if current_user.student? && user_has_submitted?(assignment)
        = link_to "Edit", edit_assignment_submission_path(assignment, user_has_submitted?(assignment))
      - elsif current_user.student?
        = link_to "Submit", new_assignment_submission_path(assignment)

  - if current_user.instructor?
    %li= link_to "Add New Assignment", new_assignment_path(curriculum_id: @cohort.curriculum.id)