%div.row
  %div.col-md-6
    %div
      %h3 
        = "#{@assignment.summary} Assignment"
        - if current_user.instructor?
          = link_to "Edit", edit_assignment_path(@assignment)
      .well
        = @assignment.instructions
    %div
      
      - if current_user.student? && (not user_has_submitted?(@assignment))
        = link_to "Submit", new_assignment_submission_path(@assignment)
    %div
      %h3 Submissions
      .list-group
        - @submissions.each do |submission|
          %a.list-group-item{:href => "#{assignment_submission_path(@assignment, submission)}"}= submission.user.email

  %div.col-md-6
    %h3 Comment Stream
    
    %div.col-md-12.comments
      - @assignment.comments.order('created_at DESC').each do |comment_var|
        = render 'comments/comment', comment: comment_var
    %div.col-md-12.new-comment
      = form_for @comment, remote: true do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :commentable_type, value: "Assignment"
        = f.hidden_field :commentable_id, value: @assignment.id
        = f.text_area :content, class: "form-control"
        %br
        = f.submit "Add Comment", class: "btn btn-primary"

    
