= current_user.id
= current_user.role
= current_user.email
%div
  = @assignment.summary
  %br
  = @assignment.instructions
%div
  - if current_user.instructor?
    %ul
      = @assignment.submissions.each do |submission|
        %li
          = submission.title
          %br
          = submission.notes
          %br
          %ul
            - assignment.links.each do |link|
              %a
                %li= link.path
