%div.row

  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    %div.col-md-6
      = devise_error_messages!
      %div
        = f.label :last_name
        %br/
        = f.text_field :last_name, autofocus: true
      %div
        = f.label :first_name
        %br/
        = f.text_field :first_name
      %div
        = f.label :git_username
        %br/
        = f.text_field :git_username
      %div
        = f.label :role, "Select User Role"
        %br/
        = f.select :role, options_for_select( resource.list_roles)
      %div
        = f.label :email, id: '#registration-email'
        %br/
        = f.email_field :email, id: '#registration-email'
      %div
        = f.label :password, id: '#registration-password'
        - if @validatable
          %i
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off",id: '#registration-password'
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
    %div.col-md-6
      %div
        =render 'cohorts'
    %div.col-md-12.text-center
      %div= f.submit "Register"
  = render "devise/shared/links"
