- if user_signed_in?

  - if current_user.student? || current_user.instructor?
    %div.col-md-6
      - current_user.cohorts.each do |cohort|
        .bs-component
          %ul.nav.nav-pills
            %li
              = link_to "#{cohort.course.title} | #{cohort.location.city}, #{cohort.location.state} | #{cohort.start_date}", location_cohort_path(cohort.location, cohort), class: "btn btn-default"
            - if current_user.instructor?
              %li.pull-right
                = link_to "View Students", "javascript:void(0)", ajax_path: dashboard_location_cohort_path(cohort.location_id, cohort), class: "btn btn-default cohort"


  - if current_user.admin?
    %div.col-md-6
      - current_user.locations.each do |location|
        %div
          %h3
            = link_to "#{location.city}, #{location.state}", edit_location_path(location)
          %ul
            - location.courses.each do |course|
              %li
                %h4
                  = link_to course.title, edit_course_path(course)
                %ul
                  - location.cohorts.each do |cohort|
                    - if cohort.course_id == course.id
                      %li
                        = link_to "#{cohort.course.title} | #{cohort.location.city}, #{cohort.location.state} | #{cohort.start_date}", location_cohort_path(cohort.location, cohort)
                        %button.btn.btn-default.cohort{ ajax_path: dashboard_location_cohort_path(cohort.location_id, cohort)} View Students
                  %li
                    = link_to "Add Cohort", new_location_cohort_path(location, course_id: course.id)

  - if current_user.instructor? || current_user.admin?
    %div.col-md-6.dashboard

- else
  .jumbotron
    .container
      %h1 Welcome to RailYard
      %p The one-stop solution for all your homework submission, grading and tracking needs. Now with recent git commit details in iFrames! Feel free to edit your user role at any time to see different views and dashboard options.
      %p
        = link_to 'Register »', new_user_registration_path, class: "btn btn-primary btn-lg", role: "button"

  =link_to "Locations", locations_path