%h4 Select Locations Offer This Course
- all_locations.each do |location|
  = check_box_tag 'course[location_ids][]', location.id, @course.locations.include?(location), {id: "location_id_#{location.id}"}
  = label_tag "location_id_#{location.id}", "#{location.city}, #{location.state}"
  %br